body {
    background                        : #aaaaaa;
    font-weight                       : bold;
}

section {
    color                             : #ffffff;
    background                        : #777777;
    font-size                         : x-large;
    -webkit-transform                 : translate(-150%) scale(1);
    position                          : absolute;
    text-align                        : center;
    padding                           : 1em;
    top                               : 3em;
    left                              : 3em;
    bottom                            : 3em;
    right                             : 3em;
}

@-webkit-keyframes demoRotate {
    0% { -webkit-transform            : translate(-150%); }
    10% { -webkit-transform           : rotate(0deg) translate(0); }
    50% { -webkit-transform           : rotate(180deg) translate(0); }
    90% { -webkit-transform           : rotate(360deg) translate(0); }
    100% { -webkit-transform          : translate(150%); }
}

@-webkit-keyframes demoRotateOrigin {
    0% { -webkit-transform            : rotate(0deg) translate(-150%); }
    10% { -webkit-transform           : rotate(0deg) translate(0); }
    50% { -webkit-transform           : rotate(-180deg) translate(0); }
    90% { -webkit-transform           : rotate(-360deg) translate(0); }
    100% { -webkit-transform          : rotate(-360deg) translate(150%) }
}

@-webkit-keyframes end {
    0% { -webkit-transform            : translate(150%); }
    30% { -webkit-transform           : translate(0); }
    70% { -webkit-transform           : translate(0); }
    100% { -webkit-transform          : translate(150%); }
}

.rotate {
    -webkit-animation                 : demoRotate 9s 2s;
    -webkit-transform-origin          : center;
    -webkit-animation-timing-function : linear;
}
.rotateOrigin {
    -webkit-animation                 : demoRotateOrigin 9s 12s;
    -webkit-transform-origin          : top left;
    -webkit-animation-timing-function : linear;
}
.end {
    -webkit-animation                 : end 3s 22s;
}

