body {
    font-family       : sans-serif;
    background        : #aaaaaa;
}

section {
    bottom            : 0;
    left              : 0;
    top               : 12%;
    right             : 0;
    position          : absolute;
    padding-bottom    : 6em;
}

article {
    border-radius     : 1em;
    margin            : 1em;
    padding           : 1em;
    background        : #ffffff;
}

h1,h2,h3,h4 {
    text-align        : center;
    margin-top        : 0.0em;
}

nav.ad {
    width             : 500%;
    border            : thin #aaaaaa solid;
    background        : #dddddd;
    position          : absolute;
    top               : 0%;
    height            : 10%;
    column-count      : 5;
    column-width      : 100%;
    -webkit-animation : banner_scroll 30s infinite;
}

nav.ad > a {
    width             : 20%;
    height            : 100%;
    display           : inline-block;
    text-align        : center;
    padding-top       : 0.5em;
    text-decoration   : none;
    font-weight       : bold;
    color             : #000000;
    font-size         : larger;
}

nav.ad > a:nth-of-type(5n-0) { background : lightgreen; }
nav.ad > a:nth-of-type(5n-1) { background : pink; }
nav.ad > a:nth-of-type(5n-2) { background : plum; }
nav.ad > a:nth-of-type(5n-3) { background : lightblue; }
nav.ad > a:nth-of-type(5n-4) { background : lightcoral; }

@-webkit-keyframes banner_scroll {
    0% { left : 0%; }
    18% { left : 0%; }
    20% { left : -100%; }
    38% { left : -100%; }
    40% { left : -200%; }
    58% { left : -200%; }
    60% { left : -300%; }
    78% { left : -300%; }
    80% { left : -400%; }
    95% { left : -400%; }
    100% { left : 0%; }
}

