body {
    background                        : #aaaaaa;
    font-family                       : sans-serif;
    font-weight                       : bold;
}

h1,h2,h3,h4 {
    text-align                        : center;
}

section {
    position                          : absolute;
    top                               : 0;
    left                              : 0;
    right                             : 0;
    bottom                            : 0;
}

article {
    max-width                         : 320px;
    background                        : #ffffff;
    border-radius                     : 1.0em;
    padding                           : 1.0em;
    margin                            : 1em;
    min-height                        : 50%;
}

.playlist {
    border                            : #777777 solid thin;
    padding                           : 0em;
    border-radius                     : 0.5em;
    list-style                        : none;
}

.marquee {
    -webkit-animation-duration        : 10s;
    -webkit-animation-timing-function : linear;
    -webkit-animation-iteration-count : infinite;
    text-overflow: clip;
}

.playlist > li {
    padding                           : 0.5em;
    overflow                          : hidden;
    text-overflow                     : ellipsis;
    border-bottom                     : #777777 solid thin;
    white-space                       : nowrap;
    height                            : 1.5em;
    overflow                          : hidden;
    text-indent                       : 0%;
}

.playlist > li:last-of-type {
    border-bottom                     : none;
}

.banner {
    overflow                  : -webkit-marquee;
    white-space               : nowrap;
    -webkit-marquee-repetition: infinite;
    -webkit-marquee-direction : left;
    -webkit-marquee-increment : 2px;
    -webkit-marquee-speed     : fast;
    -webkit-marquee-style     : scroll;
    color                     : #777;
    font-size                 : 16px;
    padding                   : 0em 1em 0em 1em;
    text-shadow               : #aaa 2px 2px 4px;
}
