body {
    font-family            : sans-serif;
    background             : #333333;
}

h1,h2,h3,h4 {
    text-align             : center;
}

img {
    position               : absolute;
    left                   : 5%;
    top                    : 5%;
    height                 : 90%;
    width                  : 90%;
    -webkit-mask-box-image : url(../img/mask.png) 5% stretch;
}

