body {
    background       : #aaaaaa;
    font-family      : sans-serif;
}

h1,h2,h3,h4 {
    font-size        : xx-large;
    text-align       : center;
    text-shadow      : 0.05em 0.05em #dddddd,
                       0.1em  0.1em  #777777;
    color            : #206ead;
}

section {
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    bottom           : 0;
}

article {
    max-width        : 320px;
    background-image : -webkit-gradient(linear, 0% 50%, 100% 50%, from(#fff), to(#555) );
    border-radius    : 1.0em;
    padding          : 1.0em;
    margin           : 1em;
    min-height       : 50%;
    font-weight      : bold;
}

