/* CUSTOM LAYOUT */

html {
    -webkit-text-size-adjust: none;
}

article {
    margin-bottom: 6em;
    min-height: inherit;
}

@media all and (orientation:portrait) {
    section {
        min-width: 320px;
        min-height: 480px;
        width: 320px;
        height: 480px;
    }
}

@media all and (orientation:landscape) {
    section {
        min-width: 480px;
        min-height: 320px;
        width: 480px;
        height: 320px;
    }
    h1 {
        -webkit-column-span: all;
    }
    article {
        -webkit-column-count: 2;
    }
}
