/* CUSTOM LAYOUT */

section {
    overflow: hidden;
    background: transparent;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 48px;
    column-count: 5;
    -webkit-transform: translateY(-10em);
    -webkit-animation-name		: scroll;
    -webkit-animation-duration		: 40s;
    -webkit-animation-delay		: 1s;
    -webkit-animation-iteration-count	: infinite;
    -webkit-animation-fill-mode		: both;
    -webkit-animation-play-state        : playing;
}

header > div {
    padding-top: 0.5em;
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 48px;
}

div {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div:nth-of-type(1) { background-image: url(../img/banner1.jpg); }

div:nth-of-type(2) { background-image: url(../img/banner2.jpg); }

div:nth-of-type(3) { background-image: url(../img/banner3.jpg); }

div:nth-of-type(4) { background-image: url(../img/banner4.jpg); }

div:nth-of-type(5) { background-image: url(../img/banner5.png); }

div > a {
    display: block;
    height: 48px;
}

/* KEYFRAMES */

@-webkit-keyframes scroll {
    from { -webkit-transform: translateX(0) }
    17% { -webkit-transform: translateX(0%) }
    20% { -webkit-transform: translateX(-20%) }
    37% { -webkit-transform: translateX(-20%) }
    40% { -webkit-transform: translateX(-40%) }
    57% { -webkit-transform: translateX(-40%) }
    60% { -webkit-transform: translateX(-60%) }
    77% {-webkit-transform: translateX(-60%) }
    80% {-webkit-transform: translateX(-80%) }
    97% {-webkit-transform: translateX(-80%) }
    to   { -webkit-transform: translateX(0%) }
}

